<div>
    <form action="/recipes/edit/{{recipe._id}}" method="post" enctype="multipart/form-data">
    <label for="name">Nom de la recette</label>
    <input type="text" id="name" name="name" value="{{recipe.name}}">
    
    <label for="durationMinutes">Durée (en minutes)</label>
    <input type="number" id="durationMinutes" name="durationMinutes" value="{{this.durationMinutes}}">
    
    <label for="plant">Plante identifiée</label>
    <select name="plant" id="plant">
        {{#each recipe.plant}}
        <option value="plant">{{recipe.plant.commonName}}</option>
        {{/each}}
    </select>

    <label for="otherIngredients">Autres ingrédients</label>
    {{#each recipe.otherIngredients}}
    <input type="text" id="otherIngredients" name="otherIngredients" value="{{recipe.otherIngredients}}">
    {{/each}}

    <label for="instructions">Instructions</label>
    <input type="text" id="instructions" name="instructions" value="instructions">
    
    <label for="image">Téléchargez une nouvelle image</label>
    <input type="file" id="image" name="image">

    <button>Enregistrez vos modifications</button>

    </form>
</div>