<<<<<<< Updated upstream
<h2>Quel périple !</h2>
=======
<h2>Content de ton périple ?</h2>
>>>>>>> Stashed changes


<div id="mode-lifebar">
  <div>
    <p class="game-mode">{{gameplay.mode}}</p>
  </div>
  {{> lifebar}}
</div>

<div id="game-recap">

  <div id="links-end">
<<<<<<< Updated upstream
    <a href="/player">Voir ta collection</a>
=======
    <a href="/player/xxx">Voir ta collection</a>
>>>>>>> Stashed changes
    <a href="/game">Nouvelle partie</a>
  </div>

  <div id="plants">
    {{#each viewedPlants}}
    <div id="card">
      <div>
        <img src="{{this.plant.imageUrl}}" alt="{{this.plant.commonName}}" class="plant-img">
      </div>
      <div>
        {{#if this.isChoiceOk}}
<<<<<<< Updated upstream
        <a href="/plant/{{this.plant._id}}/endgame{{gameplay.mode}}">
=======
        <a href="/plant/{{this.plant._id}}/endgame">
>>>>>>> Stashed changes
        {{/if}}
          <p>{{this.plant.commonName}}</p>
        {{#if this.isChoiceOk}}
        </a>
        {{/if}}
<<<<<<< Updated upstream

        {{#if this.isChoiceOk}}
=======
>>>>>>> Stashed changes
        <div><img src="/images/icons/check.svg" alt="success" class="icon"></div>
        {{else}}
        <div><img src="/images/icons/times.svg" alt="success" class="icon"></div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>

</div>

