<div id="game-recap">

  <h2>Ton périple s'achève ici...</h2>

  <div id="links-end">
    <a href="/player" class="choice-btn">Voir ta collection</a>
    <a href="/game" class="choice-btn">Nouvelle partie</a>
  </div>

  <div id="plants">
    {{#each viewedPlants}}
    <div class="card">
      <div>
        {{#if this.isChoiceOk}}
        <a href="/plant/{{this.plant._id}}/endgame{{gameplay.mode}}">
        {{/if}}
          <img src="{{this.plant.imageUrl}}" alt="{{this.plant.commonName}}" class="plant-img">
        {{#if this.isChoiceOk}}
        </a>
        {{/if}}
      </div>

      <div class="res-icons">
        {{#if this.isChoiceOk}}
        <div><img src="/images/icons/check.svg" alt="success" class="icon ok"></div>
        {{else}}
        <div><img src="/images/icons/times.svg" alt="success" class="icon nok"></div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>

</div>

