{{!-- Display all recipes available to the player --}}

<h2>Bonjour {{player.pseudo}}</h2>
<h3>Qu'est ce qu'on mange ce soir ?</h3>

{{!-- filter available recipes by plant --}}
<div>
    <label for="plant">Choisir une plante</label>
    <select name="plant" id="plant">
        {{#each plants}}
            <option value="{{this._id}}">{{this.commonName}}</option>
        {{/each}}
    </select>
</div>

{{!-- add a new recipe --}}
<div>
    <h3>Ajouter une nouvelle recette</h3>
    <a href="/recipes/addRecipe">"Add" icon here</a>
    {{!-- <img src="/images/icons/cauldron.svg" alt="addarecipe-icon"> --}}
</div>

{{!-- list of recipes --}}
<div>
    {{#each recipe}}
        <div>
            <a href="/recipes/one/{{this._id}}">
                <h4>{{this.name}}</h4>
            </a>
            <p>Durée: {{this.durationMinutes}}minutes</p>
            <img src="{{this.image}}" alt="{{this.name}}">
            <p>Auteur: {{this.creator.pseudo}}</p>
        </div>
    {{/each}}
</div>