{{!-- Display all recipes available to the player --}}

<h2>Bonjour {{player.pseudo}}</h2>

{{#if plants}}

<h3>Qu'est ce qu'on mange ce soir ?</h3>

{{!-- filter available recipes by plant --}}
<div>
    {{!-- <label for="plant">Choisir une plante</label>
    <select name="plant" id="plant">
            <option value=""></option>
            {{#each plants}}
                <option value="{{this._id}}">{{this.commonName}}</option>
            {{/each}}
    </select> --}}
    <form id="filter-form">
        <ul id="plants-checkbox-filter">
            {{#each plants}}
                <li class="plant-checkbox-item">
                    <label for="input_{{this._id}}">{{this.commonName}}</label>
                    <input type="checkbox" name="plants" value="{{this._id}}" id="input_{{this._id}}" class="checkbox">
                </li>
            {{/each}}
        </ul>
    </form>
</div>

{{!-- add a new recipe --}}
<div>
    <h3>Ajouter une nouvelle recette</h3>
    <a href="/recipes/addRecipe/recipes">"Add" icon here</a>
    {{!-- <img src="/images/icons/cauldron.svg" alt="addarecipe-icon"> --}}
</div>

{{!-- list of recipes --}}
<div id="recipes-list">
    {{#each recipe}}
        <div class="recipe-list-card">
            <a href="/recipes/one/{{this._id}}/recipes">
            {{> recipeOneList}}
            <p>Auteur: {{this.creator.pseudo}}</p>
            </a>
        </div>
    {{/each}}
</div>

<a href="/player">Accède à ton profil</a>

{{else}}
    <h3>Désolée, tu dois identifier des plantes comestibles pour pouvoir accéder aux recettes !</h3>        
{{/if}}