{{!-- Display the details of a recipe --}}
<div>

    <div id="recipe-title">
        <h2>{{recipe.name}}</h2> 
    </div>

    {{#if creator}}
        <a href="/recipes/delete/{{recipe._id}}">
            <img src="/images/icons/trash-alt.svg" alt="trash-icon">
        </a>
        <a href="/recipes/edit/{{recipe._id}}">
            <img src="/images/icons/pencil.svg" alt="edit-icon">
        </a>
    {{/if}}

    <section id="back-link">
        <a href="{{fromRoute}}">Fermer</a>
    </section>  
    <img src="{{recipe.image}}" alt="">

</div>

<div>
    <p>Recette ajoutée par {{recipe.creator.pseudo}}</p>
    <p>Durée: {{recipe.durationMinutes}} minutes</p>
</div>

<div>
    <h4>Ingrédients</h4>
    <ul>
        <li>{{recipe.plant.commonName}}</li>
        {{#each recipe.otherIngredients}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>  

<div>
    <h4>Préparation</h4>
    <p>{{recipe.instructions}}</p>
    <p>Bon appétit !</p>
</div>

